/vendor/*
vendor/
vendor/*

*.lock

.idea/workspace.xml

.idea/.name

.idea/deployment.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/msft.cc.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/webResources.xml
